@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>   
@*    
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
*@

The aim of this database is to process data collected on the field regarding  the locations of IDPs in the North East Nigeria, key informants from different <br />

organizations or IDP groups that can help get latest reliable information.

</p>
